@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap');
*{
	padding: 0;
	margin: 0;
}
body, html {
    height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 18px;
}
header {
    padding: 40px;
}
nav{
	padding: 5px 15px;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;	
	background-color: #526f00;
	float: right;
	clear: both;
}
nav a{
	margin: 15px;
	text-decoration: none;
	color: #afdf00;
	font-size: 1.7em;
}
hr{
	height: 8px;
	background-color: #afdf00;
	border: none;
}
article{
	float: left;
	margin: 20px 40px;
	padding: 2%;
	width: 40%;
	height: 400px;
	background-color: #E89C6C;	
}



footer{
	background-color: #5e7e00;
	padding: 20px;
	color: #FFF;
}
footer > img{
	float: right;
}
button{
	padding: 1% 5%;
	margin: auto;
	border: none;
	background-color: #afdf00;
	font-family: 'Roboto Slab',serif;
	font-weight: bold;
	font-size: 3em;
	color: #4a6300;
}
h2{
	font-family: 'Roboto Slab',serif;
	font-size: 4em;
	font-weight: bold;
	color: #526f00;
	float: right;
}
.whyus > img{
	float: left;
	margin: 50px;
}
.whytext > h3{
		margin-bottom: 70px;
	font-weight: 100;
	color: #afdf00;
}
h3{
	font-family: 'Roboto Slab',serif;
	font-size: 3.38em;
	color: #526f00;
}
.portfolio > h3{
	margin:70px 0 0 70px;
	font-weight: 100;
}
.portfolio > hr{
	margin: 10px 70px; 
	background-color: #526f00;
	height: 2px; 
}
.portfolio > img{
	max-width: 20%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.hero-image > img {
	width: 100%;
}
.whyus{
	background-color: #526f00;
	border: 1px black solid;
    padding: 20px;
}
.whytext{
	margin: 65px 70px 0 0;
	color: #FFF;
	width: 45%;
	float: right;
}
.left{
	float: left;
}
.right{
	float:right;
}
.namereview{
	font-weight: bold;
	color: #526f00;
}
.addressfooter{
	padding: 2%;
	float: left;
	width: 28%;
}
.addressfooter > nav a {
	font-family: 'Roboto' sans-serif;
	font-size: 18px;
	color: #FFF;
}