@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
*{
	padding: 0;
	margin: 0;
}
body, html {
    height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
header{
	padding: 20px;
}
main{
	padding: 20px;
}
footer{
	background-color: #5d7d00;
	padding: 20px;
	color: #FFF;
}
h2{
	font-family: 'ROboto+Slab',sans-serif;
	font-size: 70px;
	color: #526f00;
}
h3{
	font-family: 'ROboto+Slab',sans-serif;
	font-size: 70px;
	color: #526f00;
}
.yellow{
	color: #afdf00;
}
.hero-image{
	width: 100%;
}
.hero-text{
	padding: 20px;
}
.whyus{
	background-color: #526f00;
}