@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body, html {
    height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-size: 16px;
}
header {
    padding: 2.5em;
    float: left;
    width: 100%;
}
header img {
	float: left;
}
.right{
	float: right;
}
nav{
	padding: 0.3em 0.9em;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;	
	background-color: #526f00;
	clear: both;
}
nav a{
	margin: 0.9em;
	text-decoration: none;
	color: #afdf00;
	font-size: 1.5em;
}
hr{
	height: 0.5em;
	background-color: #afdf00;
	border: none;
}
article{
	float: left;
	margin: 2% 2%;
	padding: 4%;
	width: 46%;
	height: 340px;
	background-color: #dfdfdf;	
}
footer{
	background-color: #5e7e00;
	padding: 1.25em;
	color: #FFF;
}
footer > img{
	float: right;
}
button{
	padding: 0.2em 1.2em;
	display: inline-block;
	/*position: absolute;
	top: 75%;
 	right: 33%;*/
	border: none;
	background-color: #afdf00;
	font-family: 'Roboto Slab',serif;
	font-weight: bold;
	font-size: 3em;
	color: #4a6300;
}
button a{
	color: #4a6300;
	text-decoration: none;
}
h2{
	font-family: 'Roboto Slab',serif;
	font-size: 4em;
	font-weight: bold;
	color: #526f00;
	text-align: right;
}
h3{
	font-family: 'Roboto Slab',serif;
	font-size: 3.38em;
	color: #526f00;
}
h4{
	color: #afdf00;
	font-family: 'Roboto Slab', serif;
	font-weight: 200;
	font-size: 1.25em;
}
h4 + hr{
	width: 100%;
	height: 0.125em;
	background-color: #afdf00;
}
.hero-image {
	background-image: url("../images/home.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	height: 95vh;
	padding: 5em;
}
.hero-text{
	text-align: center;
	padding-top: 450px;
}
.whyus{
	background-color: #526f00;
    padding: 2%;
    height: 14em;
}
.whytext{
	padding: 6em 4em 2em 0;
	color: #666;
	width: 52%;
	float: right;
}
.whyus > img{
	float: left;
	width: 40%;
	margin: 3%;
	padding-bottom: 3.1em;
}
.whytext > h3{
	margin-bottom: 20%;
	font-weight: 100;
	color: #afdf00;
}
.portfolio{
	clear: both;
	width: 100%;
	background-color: #526f00; 
}
.portfolio > h3{
	margin: 3em 0 0 1.5em;
	font-weight: 100;
	color: #afdf00;
}
.gallery{
	width: 100%;
	margin: auto;
}
.gallery > img{
	margin-top: 4%;
	padding: 0.5em; 
	width: 25%;
	float: left;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.reviews{
	clear: both;
	margin: auto;
	padding-top: 2em;
}
.reviews > h3{
	margin: 2em 0 0 1.5em;
	font-weight: 100;
}
.content{
	width: 100%;
	margin: auto;
}
article > img {
	float: left;
	width:20%;
}
article > p {
	float: left;
	width: 72%;
	margin-left: 8%;
}
.namereview{
	float: right;
	margin-top: 5%;
	font-weight: bold;
	color: #526f00;
}
.addressfooter{
	font-size: 1em;
	padding: 2em;
	float: left;
	width: 40%;
}
.base a{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 100;	
	text-decoration: none;
	color: #FFF;
}
.addressfooter ul {
	list-style-type: none;
}
.addressfooter a{
	color: #FFF;
}
.addressfooter p{
	margin-top: 0.75em;
}
.first{
	float: left;
	margin: 1em;
}
.second {
	float: right;
	margin: 1em;
}
.facebook{
	float: right;
	padding: 2em;
	text-align: center;
}
.facebook img{
	width:80%;
	margin-top: 1.5em;
}
.gototop {
	float: right;
	margin-right: 2em;
}
.cmp {
	clear: both;
	padding-top: 1.5em;
	font-size: 0.7em;
	text-align: center;
}

@media screen and (max-width: 975px) {
	.whyus > img{
	display: none;
}
.whytext{
	width:90%;
}
h2{
	font-size: 3em;
}
nav{
	padding: 0.2em 0.6em;
}
nav a{
	margin: 0.5em;
	font-size: 1.2em;
}
article{
	float: none;
	width: 90%;
	margin: 3% auto;
}
.gallery > img{
	width: 50%;
}
header img{
	width: 140px;
}
}

@media screen and (max-width: 824px) {
.facebook{
	float: left;
}
.addressfooter{
	width: 50%;
}
}	

@media screen and (max-width: 705px) {
header{
	text-align: center;
	padding-top: 1.7em;
}
header img {
	float: none;
	display: inline-block;
	text-align: center;
}
.right{
	float: none;
}
h2{
	text-align: center;
}
button{
	font-size: 2.5em;
	padding: 0.1em 0.9em;
}
.addressfooter{
	width: 100%;
}
.facebook img{
	width:70%;
}
}

@media screen and (max-width: 560px) {
h3{
	font-size: 2.7em;
}
button{
	font-size: 2.2em;
}
}

@media screen and (max-width: 360px) {
	body {
font-size: 15px;
}
header img{
	width: 100px;
}
}